<table class="table">
  <thead>
    <tr>
      <td>Thumbnail</td>
      <td>Name</td>
      <td>Size</td>
      <td>Content Type</td>
      <td>Updated At</td>
      <% @image.fields.each do |field| %>
        <td><%= field.name %></td>
      <% end %>
      <td>Edit</td>
    </tr>
  </thead>
     <tr> 
      <td><%= image_tag @image.picture.url(:thumb) %></td>
      <td><%= @image.picture_file_name %></td>
      <td><%= @image.picture_file_size %></td>
      <td><%= @image.picture_content_type %></td>
      <td><%= @image.picture_updated_at %></td>
      <% @image.fields.each do |field| %>
        <td><%= field.value %></td>
      <% end %>
      <td><%= link_to("EDIT", edit_gallery_image_path(@image.gallery, @image)) %></td>
     </tr>
</table>
<br/><br/>
<%= link_to "<< Back", gallery_path(@image.gallery) %>